.form__submit-button {
    width: 100%;
    font-family: 'Inter', Arial, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    background-color: #000;
    color: #fff;
    max-height: 50px;
    border: 0;
    padding: 15px 0 18px;
    transition: 0.3s ease-in-out;
    border-radius: 2px;
    margin-top: 19px;
}

.form__submit-button:hover {
    opacity: 0.8;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

@media screen and (max-width: 681px) {
    .form__submit-button {
        font-size: 14px;
        line-height: 17px;
        padding: 14px 0 14px;
        margin-top: 16px;
    }
}