.form__field-error {
    font-family: 'Inter', Arial, sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #ff0000;
    position: absolute;
    top: 33px;
    width: 360px;
    display: block;
}