.profile__avatar {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    object-fit: cover;
}

.profile__avatar-link {
    content: '';
    width: 120px;
    height: 120px;
    border-radius: 50%;
    cursor: pointer;
    justify-content: center;
    transition: 0.5s ease-in-out;
}

.profile__avatar-link:hover::after {
    content: '';
    background: transparent;
    display: block;
    background-image: url(../../../images/edit-avatar.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    align-items: center;
    width: 26px;
    height: 26px;
    transform: translate(180%, -300%);
    overflow: hidden;
}

.profile__avatar-link:hover {
    content: '';
    display: block;
    border-radius: 50%;
}

.profile__avatar:hover {
    filter: brightness(20%);
    transition: 0.5s ease-in-out;
    border-radius: 50%;
}